fastapI
uvicorn[standard]
sqlalchemy
python-dotenv
passlib[bcrypt]
python-jose
pydantic
langchain
langgraph
pydantic_ai
psycopg2-binary
PyJWT
langchain_google_genai
urllib3
pydantic-ai-slim[duckduckgo]

neo4j
qdrant-client
